.static_pages
  .main
    .secondry
      %h1 This is me <b class= 'izzy_color'>Izzy</b>
      %h2 a developer
      %h2 +
      %h2 music enthusiast
      %h2 my latest playlist:
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12170845469%3Aplaylist%3A1ikqXrpw6je4f7jEWdsulQ" width="300" height="380" frameborder="0" allowtransparency="true"></iframe> 
    .secondry.secondry_2
      %h2 The beginning of my development journey started with QA in 2013, when I managed to learn ruby for developing the QA framework. From there I learned rails, then went back to just ruby to write reciepies in Chef AWS...Right now rails and Ember.js!!! 
      %h2 What I learned so far during my journy: Rspec, Cucumber, Minitest, RoR, JavaScripts
