.static_pages
  .secondry
    %h1 This is me <b class= 'izzy_color'>Izzy</b>
    %h2 a developer<br/>+<br/>music enthusiast<br/>my current playlist:
    .spotify
      %iframe{src: 'https://open.spotify.com/embed/user/12170845469/playlist/4fgpUajcKhdn7UxCCg2uzR', width: '900', height: '380', frameborder: '0', allowtransparency: 'true'}
  .secondry_2
    .text
      %h1 Contact details:
      %h2 Cell: +1 416-809-2166
      %h2 Email: eib6@outlook.com
  .secondry_3
    .text
      %h2 About me:<br/>The beginning of my development journey started with QA in 2013, when I managed to learn ruby for developing the QA framework. From there I learned rails, then went back to just ruby to write recipes in Chef AWS. Right now I spent most of my time developing in Elixir/Phoenix and Node.js<br/>What I learned so far: Rspec, Cucumber, Minitest, RoR, RoR API, JavaScripts, Ember.js, Docker, HTML, Haml, Elixir/Phoenix, Postgres.
