// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
//= require 'flexbox'


.static_pages {
  background-image: url('/assets/izzyb_2.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spotify {
  margin-bottom: 35px;
}

.secondry {
  text-align: center;
  margin-top: 220px;
  background-color: #ff5722;
  font-family: monospace;
}

.secondry_2 {
  background-color: #ff9800;
  width: 50%;
  margin-top: 160px;
  margin-bottom: 35px;
  font-family: monospace;
}

.secondry_3 {
  width: 75%;
  float: right;
  background-color: #ffeb3b;
  margin-top: 160px;
  margin-bottom: 35px;
  font-family: monospace;
}

.izzy_color {
  color: #ffeb3b;
}

.text {
  margin-right: 40px;
  margin-left: 20px;
}